.navbar
{
  padding-right: 400px;
  background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0));
  overflow: auto;
}

/* Style the links inside the navigation bar */
.navbar a
{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.navbar a:hover
{
  color: orange;
}

.logo
{
  position: relative;
  width: 160px;
  height: 140px;
}

.aboutME
{
  width:570px;
  padding-left: 50px;
  padding-top: 20px;
  color:white;
}

.first
{
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("Me.jpg");
  background-size:cover;
  background-position:center;
  height: 100vh;
}